*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background: #E5E5E5;
	padding-top: 46px;
}
.header{
	padding-top: 6px;
	padding-bottom: 6px;
	background: #0050B3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.header-block{
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-input{
	font-size: 14px;
	line-height: 22px;
	width: 336px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 5px 30px 5px 12px;
	background-image: url(../img/search-icon.svg);
	background-repeat: no-repeat;
	background-position: right 12px center;
}
.navigation{
	display: flex;
	align-items: center;
}
.navigation-panel{
	margin-left: 12px;
	display: flex;
	align-items: center;

}
.navigation-link{
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	margin-left: 12px;
}
.navigation-link::before{
	content: '';
	width: 1px;
	height: 16px;
	background-color: #003A8C;
	margin-right: 12px;
}
.navigation-link:last-child::after{
	content: '';
	width: 1px;
	height: 16px;
	background-color: #003A8C;
	margin-left: 12px;
}
.user{
	display: flex;
	align-items: center;
}
.user-avatar{
	margin-right: 8px;

}
.user-name{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;

}
.icons-panel{
	display: flex;
}
.icon-link{
	margin-left: 17px;
}
.icon-link{
	display: flex;
	align-items: center;
}
.icon-link:last-child::before{
	content: '';
	width: 1px;
	height: 16px;
	background-color: #003A8C;
	margin-right: 12px;
}
.header-icon{
	fill: #002766;
}
.header-icon:hover{
	fill: #fff;
}

.container{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.menu-sidebar{
	margin-top: 18px;
	width: 192px;
	margin-right: 12px;
}
.menu-sidebar .user{
	padding-left: 10px;
}
.menu-sidebar .user-avatar{
	width: 24px;
	height: 24px;
}
.menu-sidebar .user-name{
	color: #262626;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.nav-group{
	margin-top: 12px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav-link{
	padding: 4px 8px;
	display: flex;
	align-items: center;
	text-decoration: none;
	border-radius: 4px;
	color: #595959;
	font-weight: normal;
	line-height: 22px;
	font-size: 14px;
}
.nav-more{
	display: flex;
	align-items: center;
}
.nav-more-text{
	color: #1890FF;
}
.link-more{
	text-decoration: none;
	padding: 4px 11px;
}

.nav-link.active{
	background: #FFFFFF;
	color: #262626;
}
.nav-text{
	margin-left: 8px;
}
.nav-title{
	padding-left: 10px;
	margin-bottom: 10px;
	margin-top: 0;
	color: #262626;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
}

.main-feed{
	margin-top: 18px;
	max-width: 588px;
	flex-grow: 1;
}
.create-post{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	overflow: hidden;
}
.create-post-header{
	padding: 9px 16px;
	background: #F5F5F5;
}
.create-post-title{
	margin: 0;
	color: #595959;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
}
.create-post-body{
	padding-top: 16px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 24px;
	display: flex;
	align-items: flex-start;

}
.create-post-input{
	width: 100%;
	padding-top: 8px;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #8C8C8C;
}
.create-post-footer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 16px 16px 16px;
}
.create-post-footer::before{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #E8E8E8;
	margin-bottom: 16px;
}
.tag{
	background: #F5F5F5;
	border-radius: 48px;
	border: none;
	padding: 9px 12px;
	display: flex;
	align-items: center;
	margin-right: 8px;
}
.tag-icon:not-last-child{
	margin-right: 8px;
}
.button-text{
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	color: #595959;
}

.post{
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 16px 0;
	padding: 16px;
}
.post-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.post-header-button{
	background-color: #fff;
	border: none;

}
.post-header .user-avatar{
	width: 48px;
	height: 48px;
	margin-right: 12px;
}
.post-info{
	display: flex;
	flex-wrap: wrap;
}
.post-author{
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #0050B3;
	text-decoration: none;
	width: 100%;
}
.post-time{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #8C8C8C;
}
.post-time::after{
	display: inline-block;
	content: "";
	width: 4px;
	height: 4px;
	margin-right: 6px;
	margin-left: 6px;
	vertical-align: middle;
	border-radius: 50%;
	background: #BFBFBF;
}
.post-info-time{
	display: flex;
	align-items: center;
}
.post-text{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #595959;
	margin-bottom: 16px;
}
.post-text a{
	color: #096DD9;
	text-decoration: none;
}
.post-image{
	border: 1px solid #BFBFBF;
	border-radius: 4px;
	max-width: 100%;
}
.likes{
	margin-top: 9px;
	margin-bottom: 9px;
	display: flex;
	align-items: center;
}
.likes-counter{
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	color: #595959;
	margin-left: 4px;
}
.post-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.post-button{
	background-color: #fff;
	border: none;
	display: flex;
	align-items: center;
}
.post-button-text{
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #595959;
	margin-left: 8px;
}
.post-footer::before{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #E8E8E8;
	margin-bottom: 16px;
}

.right-sidebar{
	width: 384px;
}
.stories,
.birthdays{
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-top: 16px;
	padding: 16px;
	padding-left: 24px;
	margin-left: 24px;
}
.birthdays{
	display: flex;
	align-items: center;
}
.stories-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
.stories-title{
	margin: 0;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}
.stories-button{
	display: inline-flex;
	align-items: center;
}
.story-button-link{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #0050B3;
	text-decoration: none;
}
.story-button-link:first-child:after{
	content: "";
	width: 4px;
	height: 4px;
	background-color: #BFBFBF;
	border-radius: 50%;
	display: inline-block;
	margin: 0 8px;
	vertical-align: middle;
}
.stories-icon{
	vertical-align: sub;
}
.story-item-add,
.story-item{
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 16px;
}
.story-image{
	width: 48px;
	height: 48px;
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
	border-radius: 50%;
	flex-shrink: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #1890ff;
	margin-right: 12px;
}
.story-title{
	display: block;
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #0050B3;
}
.story-text{
	font-size: 14px;
	line-height: 22px;
	color: #8C8C8C;
	width: 100%;
	word-wrap: break-word;
}
.concuria{
	background-image: url(../img/concuria.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.figma{
	background-image: url(../img/figma.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.ant-design{
	background-image: url(../img/ant-design.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.birthday-sentence{
	font-size: 14px;
	line-height: 22px;
	color: #595959;
	margin-left: 8px;
}
.birthday-name{
	font-size: 14px;
	line-height: 22px;
	color: #0050B3;
}
.fanpage{
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-top: 16px;
	margin-left: 24px;
	padding: 0 16px;
}

.fanpage-header{
	width: 100%;
	padding: 8px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.fanpage-header:after{
	content: "";
	height: 1px;
	width: 100%;
	background-color: #D9D9D9;
}
.fanpage-header-title{
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #595959;
	padding-left: 16px;
	margin: 0;
}
.fanpage-header .post-header-button{
	margin-right: 16px;
}
.fanpage-content{
	display: flex;
	align-items: flex-start;
}
.fanpage-content-logo{
	width: 48px;
	height: 48px;
	border: 1px solid #BFBFBF;
	border-radius: 50%;
	margin-right: 12px;
}
.fanpage-content-title,
.fanpage-content-btn{
	display: block;
}
.fanpage-content-title{
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #0050B3;
	margin-bottom: 4px;
	padding: 0 6px;
}
.fanpage-content-btn{
	background-color: #fff;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #8C8C8C;

}
.fanpage-content-btn img{
	width: 16px;
	height: 16px;
	fill: #262626;
}
.fanpage-content-btn:first-child:after{
	margin-bottom: 1px;
}
.fanpage-footer{
	width: 100%;
	padding: 0 16px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.fanpage-footer:before{
	content: "";
	height: 1px;
	width: 100%;
	background-color: #D9D9D9;
	margin-top: 16px;
	margin-bottom: 16px;
}
.fanpage-footer-btn{
	flex-grow: 1;
	padding-top: 8px;
	padding-bottom: 8px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #D9D9D9;
}
.fanpage-footer-btn-name{
	font-size: 16px;
	line-height: 24px;
	color: #595959;
}
.fanpage-buttons{
	display: flex;
}
.footer-counter{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 16px auto;
}

.footer-counter-likes{
	
	font-size: 24px;
	line-height: 32px;
	color: #262626;
}
.footer-counter-text{
	
	font-size: 14px;
	line-height: 22px;
	color: #8C8C8C;
}
.m-menu{
	border:none;
	width: 32px;
	height: 32px;
	padding: 0;
	background-color: transparent;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 12px;
	display: none;
}
.m-menu .line{
	width: 100%;
	height: 1px;
	background-color: #fff;
}
@media(max-width: 1250px){
	.header-block{
		width: 95%;
	}
	.container{
		flex-content: flex-start;
		width: 95%;
	}
	.right-sidebar{
		display: none;
	}
}
@media(max-width: 960px){
	.header .user{
		display: none;
	}
	.navigation-panel{
		display: none;
	}
}
@media(max-width: 840px){
	.menu-sidebar{
		position: fixed;
		left: 0;
		top: 25px;
		height: 100%;
		width: 100%;
		max-width: 250px;
		background-color: #f1f1f1;
		padding-top: 12px;
		padding-left: 2%;
		transform: translateX(-100%);
		transition: transform 0.2s;
	}
	.menu-sidebar.active{
		transform: translateX(0%);
	}
	.m-menu{
		display: flex;
	}
}
@media(max-width: 760px){
	.search{
		display: none;
	}
}